@import '../vars.scss';
.card--home {
  border: solid 0.5px $color-white;
  width: 250px;
  margin: 10px 0;
  figure {
    box-sizing: border-box;
    background-color: #ccc;
    width: 100%;
    height: 300px;
    img {
      width: inherit;
      margin: 30px 0;
    }
  }
  h5 {
    font-size: 20px;
    color: $color-grey-text;
  }
  p {
    word-wrap: break-word;
  }
}

.card--detail {
  background-color: $color-white;
  height: 300px;
  padding: 20px 0;
  &-title {
    margin: 10px;
    & h1 {
      font-size: 1.2em;
    }
  }
  &-subtitle p {
    margin: 10px 20px;
    color: $color-secondary;
    font-weight: bold;
  }
  &-description p {
    margin: 0 20px;
  }
}

.divider__product {
  margin: 5px auto;
  text-align: left;
  border-color: #566573;
}

@media screen and (max-width: 580px) {
  .card--home {
    width: 90%;
    figure {
      height: auto;
    }
  }
}
