@import "../vars.scss";
.card--home {
    border: solid 0.5px $color-white;
    // border-radius: 5px;
    // box-sizing: border-box;
    width: 250px;
    margin: 10px 0;
    figure {
        box-sizing: border-box;
        background-color: #ccc;
        width: 100%;
        img {
            width: inherit;
            margin: 30px;
            // border-radius: 15px 15px 0 0;
        }
    }
    h5 {
        font-size: 20px;
        color: $color-grey-text;
    }
    p {
        // margin: 0 20px;
        word-wrap: break-word;
    }
}

.card--detail {
    background-color: $color-white;
    height: auto;
    padding: 20px 0;
    &-title {
        margin: 10px;
    }
    &-subtitle {
        margin: 10px 20px;
    }
    &-description {
        margin: 0 20px;
    }
}

.divider__product {
    margin: 5px auto;
    text-align: left;
    border-color: #566573;
}