@import '../vars.scss';
form {
  .contact__input {
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 9px 23px;
    font-weight: 700;
    color: $color-black;
    text-align: center;
    font-size: 18px;
  }
  .contact__input:focus {
    outline: none;
  }
}
