@import '../vars.scss';

form {
  .search__input {
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 9px 23px;
    font-size: 18px;
    font-weight: 700;
    color: $color-black;
    text-align: center;
  }

  .home__input {
    border: solid 1px $color-black;
    border-radius: 20px 0 0 20px;
    width: 560px;
    padding: 9px 23px;
    font-size: 30px;
    font-weight: 700;
    color: $color-black;
    text-align: center;
  }

  .search__input:focus,
  .home__input:focus {
    outline: none;
  }
}