@import "../vars.scss";
form {
    .search__input {
        border: 1px solid $color-tertiary;
        border-radius: 10px 0 0 10px;
        padding: 9px 23px;
        font-size: 18px;
        font-weight: 700;
        color: $color-black;
        text-align: center;
        margin: auto;
    }
    .home__input {
        border: solid 0.1px $color-black;
        border-radius: 10px 0 0 10px;
        width: 560px;
        padding: 9px 23px;
        font-size: 30px;
        font-weight: 700;
        color: $color-black;
        text-align: center;
    }
    .search__input:focus,
    .home__input:focus {
        outline: none;
    }
}

.form__search {
    text-align: center;
    margin: 20px 0;
}

@media (max-width: 650px) {
    form {
        .search__input {
            font-size: 10px;
            padding: 9px 20px;
        }
         ::placeholder {
            font-size: 10px;
        }
    }
}