@import "../vars.scss";
.home {
    padding: 5em;
    &__tittle {
        text-align: center;
        margin: 0 auto;
        font-size: 40px;
        color: $color-grey-text;
    }
    &__title-section {
        margin: 30px 0;
    }
    &__search {
        display: flex;
        justify-content: center;
        margin: 70px 0;
        & form {
            display: flex;
            max-width: 960px;
            min-width: 280px;
        }
    }
    &__functions {
        font-size: 35px;
        text-align: center;
        color: $color-grey-text;
    }
    .container__functions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px;
    }
    &__popular {
        font-size: 35px;
        text-align: center;
        color: $color-grey-text;
    }
    &__choose {
        font-size: 35px;
        text-align: center;
        color: $color-grey-text;
    }
    &__button--register {
        display: flex;
        justify-content: center;
    }
}

.divider {
    width: 10%;
    margin: 5px auto;
    text-align: center;
    border-color: #566573;
}

.divider__empty {
    margin: 50px 0;
}

@media (max-width: 768px) {
    .home {
        padding: 3em;
    }
    .home .container__functions {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 200px);
    }
}

@media (max-width: 620px) {
    form .home__input,
    form .button--home {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .home__search form {
        flex-direction: column;
    }
    .home__tittle {
        font-size: 2em;
    }
    form .home__input,
    form .button--home {
        font-size: 1.2em;
    }
    form .home__input {
        border-radius: 20px;
        max-width: 560px;
        width: 300px;
    }
    .button--home {
        max-width: 300px;
        width: 200px;
        margin: 0.5em auto;
        border-radius: 20px;
    }
}

@media (max-width: 425px) {
    .home {
        padding: 2em 1em;
    }
    form .home__input {
        width: 100%;
    }
}

@media (max-width: 320px) {
    form .home__input {
        width: 100%;
    }
    .home__functions {
        font-size: 2em;
    }
}