@import './vars.scss';
* {
  margin: 0px;
  font-family: $font-primary;
}

::-webkit-scrollbar {
  background-color: $color-tertiary;
  border: 1px solid $color-tertiary;
  width: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $color-black;
  border-radius: 10px;
}
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}
