@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font-primary: 'Roboto';
$color-main: #1c4cb6;
$color-secondary: #002585;
$color-tertiary: #F0A500;
$color-grey-light: #EEEEED;
$color-white: #ffffff;
$color-black: #3C3C3B;
$color-text-input:  #988E8E;
