@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;800&display=swap');
$font-primary: 'Exo 2', 'sans-serif';
$fontSize: 16px;
$color-main: #1c4cb6;
$color-secondary: #002585;
$color-tertiary: #c77a05;
$color-grey-light: #eeeeed;
$color-white: #ffffff;
$color-black: #3c3c3b;
$color-black-secondary: #000;
$color-text-input: #988e8e;
$color-grey-text: #333a41;
