@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font-primary: 'Roboto';
$color-main: #1c4cb6;
$color-secondary: #002585;
$color-tertiary: #f0a500;
$color-grey-light: #eeeeed;
$color-black: #3c3c3b;
$color-text-input: #988e8e;
